.settings
/build
/test-classes
/target
bin/
*.bak
.idea
*.iml
*.dat

/.metadata/
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Java ###
*.class
*.classpath
/HelloSpringBoot/
/baeldung-tutorials/
/mac-mkyong-spring-boot/
/mac-ta4j/
/ta4jdev/

